{% extends "base_generic.html" %}
{% block content %}

 {% if user.is_superuser %}
  {% if person_list %}
  <ol>
    {% for person in person_list %}
      <li style="color:green;  background-color: none;  "  >
        <a href="{% url "person-detail" person.id %}">{{ person.name }}</a> {% if person.vaccine %}(&#x2714;vaccinated){% else %}(&#10060; call him @{{person.phone}} to get  vaccinated){% endif %}
      </li>
    {% endfor %}
  </ol>
  {% else %}
    <p>No person added</p>
  {% endif %}

 {% else %}
<p>if you are new! Create new Account.</p>

 {% endif %}
{% endblock %}
